[Desktop Entry]
Name=Baja YT
Comment=Download Youtube videos or audios
Exec=bajayt
Icon=${SNAP}/meta/gui/bajayt.png
Terminal=false
Type=Application
Categories=Utilities